*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/library/build
/captures
.externalNativeBuild

.idea/copyright/profiles_settings.xml
.idea/dictionaries
.idea/inspectionProfiles/
.idea/libraries
.idea/scopes
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml

out
bin
.DS_Store
build/
captures/

# VIM temp files
*.swp